[alias]
  a = add
  b = branch
  bc = !"git branch --merged origin/HEAD | grep -vE 'HEAD' | xargs git branch -d"
  bd = branch -D
  bn = switch -c
  br = merge-base origin/HEAD HEAD
  c = commit
  cc = !"git restore $(git merge-base origin/HEAD HEAD)"
  cf = !"git rebase -i $(git merge-base origin/HEAD HEAD)"
  cp = cherry-pick
  cw = !"git commit --no-verify --allow-empty -m '[ci skip] wip'"
  d = diff
  dt = switch -d
  f = fetch --prune
  om = !"git fetch --prune && git switch -d origin/HEAD"
  pf = push --force-with-lease
  pl = pull
  pu = !"git push -u origin HEAD"
  rev = !"sh -c 'git cw && git fetch && git switch -d origin/$1' -"
  r = rebase
  ro = rebase origin/HEAD
  rs = restore
  rsu = restore --stage
  s = status
  sw = switch
  tr = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
[color]
  ui = true
[user]
  email = phigasui@gmail.com
  name = phigasui
[core]
  pager = less -r -M
  excludesfile = ~/.gitignore_global
  editor = emacsclient
[rebase]
  autosquash = true
[tig "bind"]
  diff = F ?!git commit --fixup %(commit)
  diff = S ?!git commit --squash %(commit)
  main = A ?!git commit --amend
  main = F ?!git commit --fixup %(commit)
  main = H ?!git reset %(commit)
  main = R ?!git rebase -i %(commit)
  main = S ?!git commit --squash %(commit)
  status = C !git commit -v
[advice]
  detachedHead = false
[github]
  user = phigasui
